<!-- Basic Salla Slider component Usage -->
<salla-slider id="thumbs" show-controls="true" type="thumbs" class="swiper-22">
    <div slot="items">
      <img src="https://picsum.photos/600/400?">
      <img src="https://picsum.photos/600/400?">
      <img src="https://picsum.photos/600/400?">
      <img src="https://picsum.photos/600/400?">
    </div>
  </salla-slider>

  {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-22", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "3",
        slidesPerGroup: 1,
        initialSlide: 1,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>
{% endblock %}