<!-- Basic Salla Slider component Usage -->
<salla-slider  class="card-slider" slider-config="{"centeredSlides":"true","slidesPerView": "1","effect": "coverflow","initialSlide\": "1","breakpoints\":{"coverflowEffect":{"centeredSlides":"true","slidesPerView": "3","effect":"coverflow","initialSlide": "1"}}">
    <div slot="items" class="swiper-wrapper swiper">
        {% for slide in component.sweep %}
                <div class="swiper-slide swiper-lazy-wrap w-full min-h-[370px] lg:min-h-[500px] bg-gray-100 dark:bg-dark my-4 rounded overflow-hidden">
                    <div style="background-image: url({{slide.image}})" class="rounded-lg absolute inset-0 bg-cover bg-center"></div>
                </div>
                
                {% endfor %}
    </div>

</salla-slider>

