<section class="s-block s-block--cards-slider">
    <span class="s-design-before s-design-invisible-dom" id="edit-845040392"></span>
    <div class="container">
        <div class="swiper mySwiper s-slider-container">
            <div class="swiper-wrapper s-slider-swiper-wrapper">
                {% for slide in component.swiper %}
                <div class="swiper-slide swiper-lazy-wrap w-full min-h-[370px] lg:min-h-[500px] bg-gray-100 dark:bg-dark my-4 rounded overflow-hidden">
                    <div style="background-image: url({{slide.image}})" class="rounded-lg absolute inset-0 bg-cover bg-center"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% endblock %}
